# dependencies
node_modules/
.pnp
.pnp.*

# next
/.next/
/out/
next-env.d.ts

# production build
/build

# deploy / adapters
.vercel/
.netlify/

# testing
/coverage

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
